@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #edf2f4;
    --text-gen: #adb5bd;
    --text-secondary: #6c757d;
    --deposit-color: #38b000;
    --withdraw-color: red;
}

body{
    background-color: var(--bg-color);
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    margin: 2rem -3rem 4rem 2rem;
    justify-content: space-between;
    align-items: center;
}

.greeting{
    font-size: 1.2rem;
}
.logo{
    height: 3rem;
    width: 3rem;
}

.input{
    text-align: center;
    width: 30%;
    border: 0;
    height: 2rem;
    border-radius: 4rem;
}
.input:focus{
    outline: 0.5px solid var(--text-secondary);
}
.input-pin{
    margin-left: 0.5rem;
}
.arrow{
    margin-left:0.6rem;
    cursor: pointer;
}

/**********ASHBOARD*******/
.dashboard{
    display: flex;
    justify-content: space-between;
    margin: 0 20%;
}

.dashboard-heading{
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.dashboard-date-time{
    color: var(--text-gen);
}

.dashboard-balance{
    font-size: 2rem;
    color: var(--text-secondary);
}

/*******TRANSACTION*******/
.transaction{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 0.5rem;
    margin: 2rem 20%;
    height: 70vh;
}

.transaction-log{
    width: 100%;
    /* margin-right: 1rem; */
    background-color: white;
    height: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: scroll;
}

.transaction-unit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--text-gen);
}

.transaction-date{
    margin-left: -8rem;
}
.transaction-status{
    padding: 0.2rem 0.3rem;
    border-radius: 5rem;
    color: white;
    text-transform: uppercase;
}

.transaction-deposit{
    background-color: var(--deposit-color);
}

.transaction-withdraw{
    background-color: var(--withdraw-color);
}

.transaction-amount{
    font-size: 1rem;
}

/* Transaction type: right side panel*/
.transaction-type{
    display: flex;
    flex-direction: column;
}
.type{
    background-color: orangered;
    margin-bottom: 1rem;
    height: 30%;
    padding: 2rem;
    border-radius: 5px;
}

.type-title{
    margin-bottom: 0.7rem;
    font-size: 0.9rem;
}

.form{
    display: grid;
    grid-template-columns: 35% 35% 15%;
    grid-template-rows: auto auto;
    gap: 0.4rem 1rem;
}

.form-loan{
    display: grid;
    grid-template-columns: 35% 15%;
}

.trasact-input{
    border: 0;
    margin-right:0.4rem;
    margin-bottom: 0.1rem;
    border-radius: 5px;
    height: 1.5rem;
    text-align: center;
    color: #565254;
    font-size: 0.8rem;
    background-color: rgba(255, 255, 255, 0.4);
}

.trasact-input:focus{
    outline: none;
}

.transact-label{
    text-align: center;
    font-size: 0.7rem;
}

.transaction-send{
    border: 0;
    border-radius: 5px;
}

.loan{
    background-image: linear-gradient(to bottom right, #9ef01a, #38b000);
}

.transfer{
    background-image: linear-gradient(to bottom right,#faa307,#e85d04);
}

.close-account{
    background-image: linear-gradient(to bottom right, #ff5c8a, #ff0a54);
}
